html
    head
        meta(charset='utf-8')
        title Search
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel='stylesheet', href='../style.css')
    body
        .header
            include header.pug
            div(class="Center" style="padding-left:3%")
                h2 Search
                form(action="/Results" method="get")
                    select(name="type") Search Type
                        option(value="genre") By Genre
                        option(value="title") By Title
                        option(value="actor") By Actor
                        option(value="director") By Director
                        option(value="tag") By Tag
                    input(type="text" name="param" placeholder="Search Parameters")
                    button(type="submit") Search